<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="main-wrapper">
            <main>
                <article>
                    <header>
                        <h1>Home Content</h1>
                    </header>
                    <section>
                        <p><%= startingHomeContent %></p>
                    </section>
                </article>
                <article>
                   <% postContent.forEach((post)=> { %>
                        <h1><%= post.title %></h1>
                        <p>
                            <%= post.content.substring(0, 100) + "..." %> 
                            <a class="primary" href="/posts/<%= post.title %>">Read More</a>
                        </p>
                    <% }); %>
                   
                </article>
            </main>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
