<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="main-wrapper">
            <main>
                <article>
                    <h1>Home</h1>
                    <p><%= startingContent %></p>
                </article>

                <article>
                   <% postContent.forEach((post)=> { %>
                        <h1><%= post.title %></h1>
                        <p>
                            <%= post.content.substring(0, 100) + "..." %> 
                            <a class="primary" href="/posts/<%= post._id %>">Read More</a>
                        </p>
                    <% }); %>
                   
                </article>
            </main>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
